# Model manager

This is a model manager that will manage machine learning models for the micro framework
- Data preparation
- Model training
- Model storage

## Data preparation

In [7]:
!rm iris.data
!wget https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data
!mv iris.data data/

--2020-06-15 20:48:15--  https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data
Resolving archive.ics.uci.edu (archive.ics.uci.edu)... 128.195.10.252
Connecting to archive.ics.uci.edu (archive.ics.uci.edu)|128.195.10.252|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 4551 (4,4K) [application/x-httpd-php]
Saving to: ‘iris.data’

iris.data           100%[===================>]   4,44K  --.-KB/s    in 0s

2020-06-15 20:48:16 (23,8 MB/s) - ‘iris.data’ saved [4551/4551]

In [18]:
import pandas as pd
'''
Read data into a Pandas dataframe 
'''

df = pd.read_csv("data/iris.data", names=["sl", "sw", "pl", "pw", "y"])
df.head()

    sl   sw   pl   pw            y
0  5.1  3.5  1.4  0.2  Iris-setosa
1  4.9  3.0  1.4  0.2  Iris-setosa
2  4.7  3.2  1.3  0.2  Iris-setosa
3  4.6  3.1  1.5  0.2  Iris-setosa
4  5.0  3.6  1.4  0.2  Iris-setosa

In [140]:
df.describe()

               sl          sw          pl          pw
count  150.000000  150.000000  150.000000  150.000000
mean     5.843333    3.054000    3.758667    1.198667
std      0.828066    0.433594    1.764420    0.763161
min      4.300000    2.000000    1.000000    0.100000
25%      5.100000    2.800000    1.600000    0.300000
50%      5.800000    3.000000    4.350000    1.300000
75%      6.400000    3.300000    5.100000    1.800000
max      7.900000    4.400000    6.900000    2.500000

In [40]:
'''
Split into features and target
'''

X = df[["sl", "sw", "pl", "pw"]]
Y = df[["y"]].to_numpy().ravel()

## Model training

In [41]:
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier(n_estimators=10)
clf.fit(X, Y)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=None,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

## Model storage

In [80]:
import time 
import pickle

model_name = "sample-Iris"
full_name = "models/model-{}-{}.model".format(model_name, time.time())

with open(full_name, "wb") as f:
    pickle.dump(clf, f)

## Test model

In [81]:
with open(full_name, "rb") as f:
    deserialized_model = pickle.load(f)

In [142]:
sample = X[2:3]
res = deserialized_model.predict_proba(sample)[0]
print("Input:", sample.values)
print("Result:", res)

Input: [[4.7 3.2 1.3 0.2]]
Result: [1. 0. 0.]

In [134]:
# import json

# d = sample.to_json()
# d

In [135]:
# d = '{"sl":4.7,"sw":3.2,"pl":1.3,"pw":0.2}'

In [136]:
# k = json.loads(d)
# vv = pd.Series(k, k.keys())

# deserialized_model.predict([vv])

In [137]:
# pd.DataFrame.from_dict(json.loads(d))